* {
     margin:0; 
    padding:0;
     box-sizing:border-box; 
    font-family:'Poppins',sans-serif; 
}

/* Navbar */
.navbar { 
    background:#004aad;
     color:white;
      padding:15px 50px; 
      display:flex;
       justify-content:space-between;
        align-items:center; 
    }

.navbar a {
     color:white;
      margin-left:20px;
       text-decoration:none;
        font-weight:500;
     }

.btn-login { 
    background:white; 
    color:#004aad!important;
     padding:8px 14px;
      border-radius:6px; 
     }

/* Hero */
.hero { 
    background:url(./assets/OR7TUP0.jpg);
     padding:60px 40px;
      display:flex; 
      justify-content:space-between;
       align-items:center; 
    }

.hero-content {
     max-width:500px;

     }

.hero h1 { 
    font-size:2.6rem;
     color:#004aad;
     }

.hero p { 
    margin:12px 0 24px; 
    font-size:1rem; 
    color:#444;
}

.btn-primary { 
    padding:12px 20px;
     background:#004aad;
      color:#fff;
       border-radius:6px;
        text-decoration:none;
        transition: all 0.2s ease;

     }
     
.btn-primary:hover{
   transform: scale(1.4);
   background:linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
   
}
     
.hero-img { 
    width:600px;
     border-radius:12px;
     }

 /* PLAN */

   #pricing-container{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
    justify-content:center;
    margin: 50px;
  }

  .card{
    background:white;
    width:280px;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 3px 15px rgb(65, 6, 6);
    transition:0.3s;
    border:2px solid transparent;
  }

  .card:hover{
    transform:translateY(-8px);
    border-color:#6dff0b;
     box-shadow:10px 20px 14px rgb(0, 0, 0);

  }

.card h2{
    font-size:1.4rem;
    margin-bottom:12px;
    color:#1f2937;
  }

  .price{
    font-size:2rem;
    font-weight:bold;
    margin:15px 0;
    color:#2563eb;
  }

  #pricing-container ul{
    list-style:none;
    margin:15px 0;
  }

  #pricing-container ul li{
    margin:8px 0;
    font-size:0.95rem;
    color:#374151;
  }

  #pricing-container > .btn{
    display:inline-block;
    background:#2563eb;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
  }

  #pricing-container .btn:hover{
    background:#1e40af;
  } */


  /* Highlight Premium */

  .premium{
    background:#1e40af;
    color:white;
    border-color:#0c266e;
    
  }
  
  .premium .price,
  .premium ul li{
    color:white;
  }

  .premium .btn{
    background:#facc15;
    color:black;
  }

  .premium .btn:hover{
    background:#d4aa10;
  } 


/* Footer */

footer {
  background: #0f172a;
  color: #fff;
  padding: 40px 0 15px;
  margin-top: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.footer-container div {
  width: 250px;
}

.footer-about p,
.footer-contact p {
  font-size: 14px;
  line-height: 20px;
}
.footer-bottom {
  text-align: center;
  border-top: 1px solid #334155;
  padding-top: 10px;
  font-size: 14px;
}

/* .btn{
  
  color: currentColor;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
} */


/* Responsive */
@media(max-width:900px){ 

     .hero{ flex-direction:column;
     text-align:center;

     } 

.hero-img{

     margin-top:20px;
     width:100%; 
     max-width:350px;

     } 

}

@media(max-width:768px){

.container{ 

     grid-template-columns:1fr;

     }

.btn-login{

     display: flex;

     }

}




